@font-face {
  font-family: "Staatliches";
  src: url(../fonts/Staatliches-Regular.ttf);
}
@font-face {
  font-family: "Jaro";
  src: url(../fonts/Jaro-Regular-VariableFont_opsz.ttf);
}
@font-face {
  font-family: "Geist";
  src: url(../fonts/Geist-Regular.ttf);
}
.main-head {
  display: flex;
  gap: 150px;
  margin: 30px 0 0 30px;
}

.head-link {
  margin-top: 20px;
  width: 575px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head-link-text p {
  font-family: "Staatliches";
  font-size: 30px;
}

.head-navigation {
  margin-bottom: 15px;
  width: 545px;
  border-top: 1px solid #7C7C7C;
}

.head-navigation nav {
  display: flex;
  justify-content: space-between;
}

.head-navigation a {
  font-family: "Jaro";
  font-size: 26px;
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

.head-navigation a:nth-child(3) {
  display: none;
}

.main-picture img {
  width: 650px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.decorative-border-image {
  width: 100%;
  background-image: url(../images/Decorative-border.png);
  height: 38px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.coctail-picture-container {
  background-image: url(../images/photo-1683544599381-be284dbd9abf.avif);
  height: 540px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.shop-coctails {
  background: #CD9D65;
  height: 100%;
  width: 540px;
}

.shop-text {
  width: 480px;
}
.shop-text p {
  margin: 0;
  font-family: "Staatliches";
  font-size: 42px;
  padding: 30px 0 0 30px;
}

.shop-link {
  width: 159px;
  height: 52px;
  background: black;
  margin: 59px 0 0 30px;
  text-align: center;
  align-content: center;
  border-radius: 50%;
}
.shop-link a {
  font-family: "Jaro";
  color: #CD9D65;
  font-size: 26px;
  text-decoration: none;
}

.primavera-coctails {
  background-image: url(../images/photo-coctails.avif);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.primavera-info {
  width: 584px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.primavera-bage {
  align-self: flex-start;
}

.primavera-main-text h1 {
  font-family: "Staatliches";
  font-size: 150px;
  color: white;
  font-weight: normal;
  margin: 0;
}

.primavera-text {
  text-align: center;
  width: 500px;
}
.primavera-text p {
  font-family: "Staatliches";
  font-size: 30px;
  color: white;
  margin: 0;
}

.veloce-text {
  width: 80%;
  margin: 30px 0 0 30px;
}
.veloce-text p {
  font-family: "Staatliches";
  font-size: 60px;
  margin: 0;
}

.veloce-link {
  width: 150px;
  height: 52px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  margin: 50px 0 0 30px;
}
.veloce-link a {
  text-decoration: none;
  color: black;
  font-family: "Jaro";
  font-size: 26px;
}

.coctail-container {
  margin-top: 80px;
}

.coctails-asssortment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "item1 item2" "item3 item2";
  justify-items: center;
  width: 85%;
  margin: 0 auto;
  gap: 40px;
}

.lavande {
  width: 600px;
}

.lavande-section {
  width: 600px;
  height: 600px;
  background-image: url(../images/ambitious-studio.jpg);
  background-size: cover;
  background-position: center 60%;
}

.sour-section {
  width: 600px;
  height: 600px;
  background-image: url(../images/sour.avif);
  background-size: cover;
  background-position: center 60%;
}

.spezia-section {
  width: 600px;
  height: 600px;
  background-image: url(../images/old-fashioned.avif);
  background-size: cover;
  background-position: center 60%;
}

.coct-name h3 {
  margin: 0;
  color: white;
  font-family: "Staatliches";
  font-size: 42px;
  padding: 30px 0 0 30px;
  font-weight: normal;
}

.coct-text p {
  font-size: 20px;
  font-family: "Staatliches";
}
.coct-text a {
  font-family: "Staatliches";
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.find-link-section {
  width: 100%;
  height: 540px;
  background: #CD9D65;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-text {
  margin-left: 30px;
  height: 104px;
}
.link-text p {
  font-size: 150px;
  font-family: "Staatliches";
  color: #613B0F;
  margin: 0;
  padding-top: 10px;
}

.find-link {
  margin-left: 30px;
}
.find-link a {
  color: black;
  text-decoration: none;
  font-size: 150px;
  font-family: "Staatliches";
}

.about-experiens {
  height: 640px;
  display: flex;
}

.exp-text {
  height: 100%;
  width: 50%;
  border-color: #FFFFFF;
}
.exp-text p {
  font-family: "Staatliches";
  font-size: 42px;
  margin: 0;
  padding-top: 23px;
}

.text-cont {
  width: 80%;
  margin-left: 30px;
}

.exp-picture {
  background-image: url(../images/matheus-frade.jpg);
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center 30%;
}

footer {
  height: 530px;
  background-color: #CD9D65;
}

.info-mail-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.foot-link {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 7px;
}
.foot-link a {
  text-decoration: none;
  font-family: "Jaro";
  font-size: 26px;
  color: black;
}

.foot-pic {
  display: flex;
  flex-direction: column;
}
.foot-pic img {
  margin-top: 13px;
}

.mail-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 30px;
}
.mail-link a {
  text-decoration: none;
  font-family: "Jaro";
  font-size: 26px;
  color: black;
}

.big-link {
  margin: 100px 0 0 30px;
}

.company-text p {
  font-family: "Geist";
  font-size: 15px;
  padding-top: 5px;
  font-weight: bold;
  padding-left: 30px;
}

.picture-text-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

@media (max-width: 1430px) {
  .main-head {
    gap: 80px;
  }
  .main-picture img {
    width: 575px;
  }
}
@media (max-width: 1279px) {
  .main-head {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .main-picture {
    width: 90%;
  }
  .main-picture img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .head-link {
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .head-navigation {
    width: 90%;
    margin-top: 30px;
  }
  .shop-coctails {
    height: 295px;
    width: 450px;
  }
  .shop-text {
    width: 390px;
  }
  .shop-text p {
    font-size: 35px;
  }
  .shop-link {
    width: 151px;
    height: 48px;
  }
  .coctails-asssortment {
    grid-template-columns: 1fr;
    grid-template-areas: "item1" "item2" "item3";
    gap: 70px;
    justify-items: center;
  }
  .link-text p, .link-text a {
    font-size: 130px;
  }
  .about-experiens {
    height: 550px;
  }
  .info-mail-container {
    width: 70%;
  }
  .big-link {
    margin-left: 80px;
  }
}
@media (max-width: 800px) {
  .head-link-text {
    display: none;
  }
  .main-head {
    flex-direction: inherit;
    margin: 0;
  }
  .head-navigation {
    border: none;
    margin-top: 16px;
  }
  .head-navigation nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .head-navigation nav a {
    padding-left: 30px;
  }
  .head-navigation a:nth-child(3) {
    display: block;
  }
  .head-navigation a:nth-child(2) {
    display: none;
  }
  .main-picture {
    margin: 0 0 70px 25px;
  }
  .main-picture img {
    width: 107px;
    margin: 0;
  }
  .primavera-info {
    position: relative;
  }
  .primavera-bage {
    position: absolute;
    top: -460px;
    align-self: center;
  }
  .link-text {
    height: auto;
  }
  .link-text p, .link-text a {
    font-size: 100px;
  }
  .find-link a {
    font-size: 100px;
  }
  .veloce-text {
    width: 80%;
    margin: 30px 0 0 30px;
  }
  .veloce-text p {
    font-family: "Staatliches";
    font-size: 60px;
    margin: 0;
  }
  .shop-coctails,
  .shop-text,
  .primavera-info {
    width: 100%;
    max-width: 100%;
  }
  .about-experiens {
    flex-direction: column;
    height: 500px;
  }
  .exp-text {
    width: 100%;
    margin: 0 auto;
    height: 50%;
  }
  .text-cont p {
    font-size: 32px;
  }
  .exp-picture {
    width: 100%;
    background-position: center 50%;
  }
  .info-mail-container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
  }
  .foot-info {
    margin-top: 30px;
  }
  .foot-link {
    margin: 0;
    text-align: center;
  }
  .foot-link a:first-child {
    text-decoration: underline;
  }
  .big-link {
    text-align: center;
    margin: 50px 0 0 0;
  }
  .picture-text-cont {
    align-content: center;
    text-align: center;
    height: 80px;
  }
  .foot-pic img {
    margin: 0;
  }
}
@media (max-width: 670px) {
  .coctails-asssortment {
    grid-template-columns: 1fr;
    grid-template-areas: "item1" "item2" "item3";
    gap: 70px;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center;
  }
  .coct-text {
    width: 355px;
  }
  .lavande {
    width: 355px;
  }
  .lavande-section,
  .sour-section,
  .spezia-section {
    width: 355px;
    height: 355px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .primavera-main-text h1 {
    font-size: 80px;
  }
  .primavera-text {
    width: 221px;
    text-align: center;
  }
  .find-link-section {
    height: 540px;
  }
  .link-text p {
    font-size: 90px;
  }
  .find-link a {
    font-size: 90px;
  }
  .image-link {
    width: 480px;
  }
  .picture-text-cont {
    height: 110px;
  }
}
@media (max-width: 500px) {
  .shop-coctails {
    width: 100%;
  }
  .shop-text {
    width: 80%;
  }
  .shop-text p {
    font-size: 28px;
  }
  .veloce-text p {
    font-size: 40px;
  }
  .link-text p {
    font-size: 80px;
  }
  .find-link a {
    font-size: 80px;
  }
  .find-link-section {
    height: auto;
  }
}
@media (max-width: 480px) {
  .image-link {
    width: 320px;
  }
  .big-link {
    margin-top: 100px;
  }
  .picture-text-cont {
    height: 115px;
  }
}/*# sourceMappingURL=styles.css.map */